:root {
  --bgColor: #edefee;
  --navBackground: #333333;
  --boxBackground: #f4e5d6;

  --globalWidth: 80%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--bgColor);
}

.logo-container .logo {
  width: 50%;
  padding-top: 30px;
}
.nav-bar {
  background-color: var(--navBackground);
  width: var(--globalWidth);
  margin: 20px auto;
  padding: 8px 20px;
  border-radius: 12px;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.nav-bar ul li a {
  font-size: 1.5rem;
  color: white;
  transition: 0.5s all ease-in;
}

.nav-bar ul li:hover a,
.nav-bar ul li a.active {
  color: #f4cb15;
}

.main {
  width: var(--globalWidth);
  margin: 30px auto;
}
.main .banner {
  position: relative;
  background-image: url(./images/banner.jpg);
  background-size: cover;
  height: 300px;
  margin: 40px 0;
  padding: 10px 20px;
  border-radius: 12px;
}

.main .banner article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main .banner article h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
.main .banner article p {
  width: 60%;
  word-wrap: normal;
  font-size: 1rem;
  color: white;
}

.main .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
.main .content .item-box {
  position: relative;
  background-color: var(--boxBackground);
  padding: 10px 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (max-width: 650px) {
  .main .content .item-box {
    margin-top: 30px;
  }
}
.main .content .item-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 100%;
  right: 5px;
  background-color: var(--boxBackground);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.main .content .first .item-box::before {
  width: calc(100% - 5px);
  background-color: #333333;
}
.main .content .item-box h2 {
  font-weight: 800;
}
.main .content .item-box img {
  display: inline-block;
  max-width: 100%;
  margin: 30px 0 20px;
}
.main .content .item-box > p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.main .content .item-box a {
  display: inline-block;
  color: blue;
  text-decoration: underline;
  margin-bottom: 10px;
}

.main .content .item-box .opening-hours {
  margin-left: 40px;
  font-size: 0.75rem;
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.footer .logo {
  flex-basis: 40%;
}
.footer .logo img {
  max-width: 100px;
}
.footer .text {
  flex-basis: 40%;
  margin-top: 20px;
  text-align: end;
  border-top: 2px solid #333333;
}
.footer .text p {
  margin-top: 5px;
}